.grid {
  width: calc(30 * 21px);
}
  
.cell {
  display: inline-block;       
  border: 1px solid darkgray;
  width: 20px;
  height: 20px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.cell:hover { 
  background: yellow;
}

.off {
  background-color: lightgray;
}

.on {
  background-color: green;
}

