.grid {
  display: flex;
  flex-wrap: wrap;
  width: calc(30 * 21px);
}
  
.cell {
  display: block;       
  border: 1px solid darkgray;
  width: 20px;
  height: 20px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.cell:hover { 
  background: darkgray;
}

.cell.on:hover {
  background: darkgreen;
}

.cell:active {
  background: black;
}

.off {
  background-color: lightgray;
}

.on {
  background-color: green;
}

